## Transforming World Development Indicators raw file

**Data Source:** [World Development Indicators, The World Bank](https://datacatalog.worldbank.org/dataset/world-development-indicators)

**File:** The raw file, *WDIData.csv*, from downloaded archive (*WDIcsv.zip*) was slightly transformed to the version that facilitate analytics. It resulted *in WDI_Indicators.csv*.

***

In [1]:
import pandas as pd

In [6]:
# load the initial dataset
data_raw = pd.read_csv('./Data/world-development-indicators/WDIData.csv')

In [7]:
data_raw.shape

(422136, 64)

In [8]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422136 entries, 0 to 422135
Data columns (total 64 columns):
Country Name      422136 non-null object
Country Code      422136 non-null object
Indicator Name    422136 non-null object
Indicator Code    422136 non-null object
1960              37968 non-null float64
1961              41854 non-null float64
1962              44058 non-null float64
1963              43972 non-null float64
1964              44512 non-null float64
1965              47112 non-null float64
1966              46799 non-null float64
1967              48539 non-null float64
1968              48126 non-null float64
1969              49737 non-null float64
1970              80030 non-null float64
1971              86650 non-null float64
1972              89754 non-null float64
1973              89735 non-null float64
1974              91409 non-null float64
1975              95749 non-null float64
1976              98117 non-null float64
1977              102036 non-null float64
1978              101933 non-null float64
1979              102904 non-null float64
1980              108382 non-null float64
1981              110459 non-null float64
1982              111906 non-null float64
1983              111873 non-null float64
1984              112893 non-null float64
1985              114224 non-null float64
1986              115188 non-null float64
1987              116546 non-null float64
1988              116235 non-null float64
1989              118218 non-null float64
1990              141339 non-null float64
1991              146465 non-null float64
1992              150910 non-null float64
1993              152711 non-null float64
1994              154974 non-null float64
1995              162779 non-null float64
1996              163257 non-null float64
1997              164353 non-null float64
1998              166563 non-null float64
1999              172667 non-null float64
2000              197572 non-null float64
2001              187972 non-null float64
2002              192883 non-null float64
2003              193668 non-null float64
2004              199197 non-null float64
2005              212856 non-null float64
2006              210749 non-null float64
2007              215175 non-null float64
2008              214173 non-null float64
2009              215509 non-null float64
2010              230669 non-null float64
2011              221221 non-null float64
2012              223194 non-null float64
2013              218868 non-null float64
2014              225545 non-null float64
2015              218855 non-null float64
2016              214154 non-null float64
2017              187353 non-null float64
2018              116026 non-null float64
Unnamed: 63       0 non-null float64
dtypes: float64(60), object(4)
memory usage: 206.1+ MB

In [10]:
data_raw.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# remove column "Unnamed: 63" (all non-null)
data=data_raw.drop(['Unnamed: 63'], axis=1)

In [13]:
data.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
col = list(data.columns[0:4])
print(col)

['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code']

In [17]:
# reshape dataframe to have years in one column
# use Pandas melt function
datam = data.melt(id_vars=col,var_name='Year', value_name='Value')

In [18]:
datam.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,1960,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,1960,NaN

In [19]:
datam.shape

(24906024, 6)

In [21]:
# drop all rows with NaN "Value"
datam = datam.dropna()

In [22]:
datam.shape

(7998575, 6)

In [23]:
# remove space from column names
datam = datam.rename(columns = lambda x: x.replace(" ",""))

In [26]:
datam.head(2)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
50,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,134.772341
56,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,88.061110

**Save the dataframe to the `csv` file:**

In [18]:
# uncomment below line when you want to save file
#datam.to_csv('./Data/world-development-indicators/WDI_Indicators.csv', index=False)